.header-container{
    display: flex;
    width: 100%;
    border-bottom:1px solid grey;
    margin:auto;
}
   
.logo{
    
    width: 4%;
    background: gray;
    /* margin-top: 1.2%; */
    border: 1px solid gray;
    margin: 6px 0;
    display: flex;
  justify-content: flex-start;
  position: relative;
    left: 5%;
}
.search-product{
    width:60%;
}
.logged-user{
    /* width:20%; */
    margin: 12px 0;
    display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
    right: 6%;
}
.search-product{
  margin:0 auto;
}